@{ ViewData["Title"] = "Privacy Policy"; }
<h1 class="text-center" style="padding:10px 0px 50px 0px; white-space: pre">@ViewData["Title"]</h1>
<br />
<br />
<br />

<div class="text-center">
    <p>This Project was created by an NWU student named <a>&copy;Thabang Moloi 2020.</a></p>
    <p>The information on this website may only be accessed by employees and users who are registered of the company.</p>
</div>
